* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', monospace;
    font-style: normal;
}

header img{
    display: block;
    width: 30%;
    margin: 2em auto 1em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h1 span {
    background-image: linear-gradient(45deg, hsl(356, 90%, 64%), hsl(280, 78%, 69%), hsl(191, 86%, 49%));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 4em 2em;
    padding: 1.5em;
    text-align: center;
}

.quote-background {
    color: hsl(0, 0%, 95%);
    background-image: linear-gradient(45deg, hsl(356, 90%, 64%), hsl(280, 78%, 69%), hsl(191, 86%, 49%));
    margin: 2em 1em;
    padding: 2rem;
    border-radius: 1rem;
}

button {
    background-color: hsl(191, 86%, 49%);
    padding: 3rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 3px 2px 5px hsla(280, 78%, 69%, 0.5);
}

button:hover {
    background-color: hsl(280, 78%, 69%);
    box-shadow:3px 2px 5px hsla(191, 86%, 49%, 0.5);
}

@media (min-width: 900px){
    header img {
        width: 30%;
    }

    main {
        height: 100vh;
    }

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
        max-width: 40ch;
    }

}

@media (min-width: 768px) {
    header img {
        width: 20%;
    }

    main {
        height: 100vh;
    }

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 2.5rem;
        max-width: 30ch;
    }
}

